<div>
  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px",class:"my-10 mx-auto"),"https://rubyonrails.org/" %>
  <h1 class="font-bold text-4xl">Home</h1>
  <%= link_to "Sign up now!", '#', class: "font-bold" %>
</div>