- if object.errors.any?
  .error.bg-orange-400
    .error_messages
      The form contains #{pluralize(object.errors.count, "error")}.
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
