<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body>
  <main class="m-10">
    <%= render 'layouts/header' %>

    <div class="text-center my-40">
      <%= yield %>
    </div>
  </main>
</body>

</html>